<head>
    <h2>My Tasks</h2>
</head>
<body>
    <div id="search-task">
        <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search for a task">
    </div>
    <ul class="tasks">
    <li *ngFor='let task of tasks | filter:searchText'
            [class.selected]="task === selectedTask"
            (click)="onSelect(task)">
            <span class="badge">{{task.id}} </span> {{task.name | uppercase}}
    </li>
    </ul>

    <div id="taskinfo" *ngIf='selectedTask'>
        <a routerLink={{this.selectedTask.id}} routerLinkActive="active"> View more details </a>
        <br><br>
        <button (click)="onDelete(selectedTask)" [disabled]="!selectedTask"> Delete Task </button>
    </div>

    <div id="newTask">
        <br> <br>
        <button id="btn_New" (click)="toggle()"> Create a new task </button>

        <form [formGroup]="TaskInfoForm"
        (ngSubmit)="onCreate(TaskInfoForm.value)"
        *ngIf="show === true">

            <div>
                <p>Fill in the form and press on the 'Create' button to add a new task</p>

                <label for="name">
                    Name:
                </label>
                <input id="name" type="text" formControlName="name">
            </div>
            <br>
            <div>
                <label for="description">
                    Description:
                </label>
                <input id="description" type="text" formControlName="description">
            </div>
            <br>
            <div>
                <label for="department">
                    Department:
                    <select id="departments" formControlName="department">
                    </select>
                </label>
            </div>
            <br>
            <div>
                <label for="employees">
                    Assign To: (Can select multiple)
                    <pre><select id="employees" multiple formControlName="employees">
                        <option *ngFor="let e of this.employees"> {{e.name}} </option>
                    </select></pre>
                </label>
            </div>
            <br>
            <div>
                <label for="deadline">
                    Deadline:
                    <input id="deadline" type="datetime-local" formControlName="deadline">
                </label>
            </div>
            <br>

            <button type="submit" [disabled]="TaskInfoForm.invalid"> Create a new task</button>
        </form>
    </div>
</body>