<h2>My Employees</h2>
<ul class="employees">
   <li *ngFor='let employee of employees'
        [class.selected]="employee === selectedEmployee"
        (click)="onSelect(employee)">
        <span class="badge">{{employee.id}} </span> {{employee.name | uppercase}}
   </li>
</ul>

<div *ngIf='selectedEmployee'>
    <a routerLink={{this.selectedEmployee.id}} routerLinkActive="active"> View more details </a>
    <br>
    <br>
    <button (click)="onDelete(selectedEmployee)" [disabled]="!selectedEmployee"> Delete Employee </button>
</div>


<form [formGroup]="EmployeeInfoForm"
(ngSubmit)="onCreate(EmployeeInfoForm.value)">

    <div>
        <label for="name">
            Name
        </label>
        <input id="name" type="text" formControlName="name">
    </div>
    <br>

    <button type="submit" [disabled]="EmployeeInfoForm.invalid"> Create </button>
</form>